/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$crimson-color: #A51C30 !default;
$primary: $crimson-color !default;
$danger:  $crimson-color !default;

$font-family-sans-serif: "Fira Sans Condensed", sans-serif !default;
$font-family-serif:      "Roboto Condensed", serif !default;
$font-family-monospace:  "JetBrains Mono", monospace !default;

$font-size-base: 1.1rem !default;

/*-- scss:rules --*/
// Home page stuff -- From Andew Heiss Website
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.course-details {
  margin: 0 0 1em;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.course-details h3 {
  margin-top: 0;
}

.course-title {
  font-size: 3.5rem;
  margin-top: 0;
}

.course-subtitle {
  font-size: 1.7rem;
}

.course-meta {
  font-size: 1.2rem;
  color: $gray-600;
}

.course-details ul {
  list-style-type: none;
  margin-left: var(--fa-li-margin, 1.5em);  // Was originally 2.5
  padding-left: 0;
}
.course-details ul > li {
  position: relative;
}

.contact-policy p {
  font-size: 1rem;
  line-height: 1.5;
}

.course-details-smaller li {
  font-size: 1rem;
}

.course-details-smaller h3 {
  font-size: 1.4rem;
}

// Schedule stuff from Andrew Heiss
.content-title {
  font-weight: 700;
}

.content-note {
  font-size: 0.8rem;
  display: block;
}

.schedule-page h3 {
  text-align: center;
  margin-top: 3rem;
  border-bottom: 3px solid $crimson-color;
  padding-bottom: 0.5rem;
}

.download-btn {
  padding-top: 0.25rem;
  margin-bottom: 0;
  text-align: center;
}